@font-face {
    font-family: coolvetica;
    src: url('coolvetica condensed rg.otf');
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

h1 {
    align-items: center;
    text-align: center;
    font-family: coolvetica;
    letter-spacing: 1px;
    font-size: 64px;
    margin: 20px;
    color: rgb(228, 0, 0);
}


h2 {
    align-items: center;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 16px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.orderForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 100vw;
    gap: 15px;
}

.inputbox {
    padding:  10px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
}

.inputbox2 {
    padding:  10px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    background-color: #00000025;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.orders-container {
    align-items: center;
    text-align: center;
}

.transaction-table {
    display: table;
    width: 90%;
    padding: 20px 0px;
    margin-right: auto;
    margin-left: auto;
}

.transaction-header {
    display: table-row;
    font-size: 14px;
} 

.transaction-row {
    display: table-row;
    font-size: 20px;

}

.header-item, .row-item {
    display: table-cell;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.header-item-centered {
    text-align: center;
}

.header-item-right, .row-item-right {
    text-align: right;
}

.edit-mode {
    background-color: #ffffcc; /* Slightly yellow background */
}

.orders-container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.transaction-results {
    display: inline-block;
}

.transaction-header2 {
    display: table-row;
    font-size: 14px;
} 

.transaction-row2 {
    display: table-row;
    font-size: 20px;

}

.header-item2 {
    display: table-cell;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.row-item2 {
    display: table-cell;
    padding: 8px 22px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.header-item-centered2 {
    text-align: center;
}

.special-bike-row {
    background-color: #b1000066; /* Gold background for example */
    color: #000; /* Black text for contrast */
}

/* You might also want to differentiate the header item for consistency */
.header-item-special {
    background-color: #FFD700; /* Matching header background */
    color: #000; /* Matching header text color */
}

.export {
    padding:  10px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: #00b93842;
    bottom: 0;
    font-weight: bold;
}

.export-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 100vw;
    gap: 15px;
}